.headerContainer {
  /* background-color: aqua; */
  display: flex;
  padding: 20px 0px;
  padding-left: 30px;
  gap: 40px;
}

.navigation {
  display: flex;
  align-items: center;
  gap: 25px;
  color: rgb(32, 33, 36);

}

.rule {
  height: 2px;
  background-color: blue;
  padding-top: 2px;
}

.logo {
    display: flex;
    align-items: center;
  img {
    width: 100px;
  }
}

.aboutNav{
    padding-bottom: 10px;
    padding-top: 15px;
    text-decoration: none;
}

