.ProductsSection6-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
padding-top: 60px;
  h2 {
    font-weight: 400;
    font-size: 48px;
    color: rgb(32, 33, 36);
    line-height: 56px;
    text-align: center;
  }
}

.Section6-container {
  display: flex;
  justify-content: center;
}
