.sectionFourContainer {
  background-color: #ffffff;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;

  h2 {
    font-weight: 400;
    color: rgb(32, 33, 36);
    font-size: 36px;
    line-height: 44px;
    margin: 0;
    margin-bottom: 8px;
  }

  p {
    font-weight: 400;
    color: rgb(95, 99, 104);
    font-size: 18px;
    line-height: 28px;
    margin: 0;
  }
}

.inner-container{
    display: flex;
    align-items: center;
    text-align: center;
    gap: 40px;
    background-color: #F2F5FA;
    padding: 40px;
    border-radius: 25px;
}
