.textContainer {
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;

  h2 {
    font-weight: 400;
    font-size: 60px;
    color: rgb(32, 33, 36);
    line-height: 72px;
    text-align: center;
    max-width: 1200px;
  }
}

@media (max-width: 1200px) {
  .textContainer {
    padding-top: 0px;
    margin-top: 0;
    h2 {
      max-width: 620px;
      font-size: 48px;
      line-height: 56px;
      margin-top: 0;
    }
  }
}
