.cardContainer2 {
  display: flex;
  gap: 8px;
  width: 250px;
  height: 150px;
  box-shadow:
    rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
    rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  margin: 20px;
  background-color: white;
  border-radius: 5px;

  p {
    font-weight: 400;
    color: rgb(32, 33, 36);
    font-size: 20px;
    line-height: 28px;
    padding: 0 15px;
  }
}

.imageContainer2 {
  img {
    width: 200px;
    height: 150px;
    object-fit: contain;
    border-radius: 5px;
  }
}
