.button {
  font-family: "Google Sans", sans-serif;
  font-optical-sizing: auto;
  padding: 10px 25px 10px;
  background-color: #1a73e8;
  border: none;
  outline: none;
  border-radius: 30px;
  color: white;
  font-size: 16px;
  line-height: 24px;
  font-weight: 500 bold;
}

@media (max-width: 500px) {
  .button {
    width: 90%;
  }
}
